<h1><%= @user.username %>'s Page</h1>

<%= link_to 'See all episodes', episodes_path %><br>
<%= link_to 'See all guests', guests_path %><br><br>

<%= link_to 'Log Out', logout_path, method: :delete %>
